<p class="fs-4 fw-semibold py-4">¡Nos apasiona tu sonrisa!</p>
<form [formGroup]="form" class="d-flex flex-column gap-2 gap-lg-4" (submit)="fakeLogin()">
	<div>
		<label class="fw-semibold mb-2" for="email">Correo electrónico</label>
		<input
			nbInput
			type="email"
			id="email"
			placeholder="Introduce tu correo electrónico"
			formControlName="email"
			[status]="email.dirty ? (email.invalid ? 'danger' : 'success') : 'basic'"
			fullWidth
		/>
		<control-error controlName="email" />
	</div>
	<div>
		<label class="fw-semibold mb-2" for="username">Contraseña</label>
		<input
			nbInput
			type="password"
			id="password"
			placeholder="Introduce tu contraseña"
			formControlName="password"
			[status]="password.dirty ? (password.invalid ? 'danger' : 'success') : 'basic'"
			fullWidth
		/>
		<control-error controlName="password" />
	</div>
	<div class="d-flex align-items-center justify-content-between">
		<nb-checkbox formControlName="remember">Recuérdame</nb-checkbox>
		<!-- <a href="#"><small>¿Olvidaste la contraseña?</small></a> -->
	</div>
	<button nbButton type="submit" status="primary" [disabled]="form.invalid || isLoading()" fullWidth>
		Iniciar Sesión
	</button>
	<hr />
	<button nbButton type="button" class="button-black" [disabled]="form.invalid || isLoading()" fullWidth>
		<nb-icon icon="google"></nb-icon>
		Iniciar Sesión con Google
	</button>
	<div class="d-flex align-items-center justify-content-center gap-2">
		<small>¿No tienes cuenta?</small>
		<a routerLink="/auth/register">Registrate</a>
	</div>
</form>
