:host {
	::ng-deep {
		.scrollable {
			padding-top: var(--layout-padding-top);
		}

		router-outlet + * {
			display: block;
			animation: fade 0.5s;

			@keyframes fade {
				from {
					opacity: 0;
				}

				to {
					opacity: 1;
				}
			}
		}
	}
}
