:host ::ng-deep {
	.event-date-container,
	.event-divider-container {
		display: none !important;
	}

	.event-info-description {
		margin-bottom: 0 !important;
	}

	.event-info-body {
		width: 100%;
	}

	.progress-container,
	.progress-value {
		border-radius: 10px;
	}
}

.icon {
	background-color: #eff2f7;
	border-radius: 50%;
	padding: 0.6rem;
	height: 3rem;
	width: 3rem;
}
