<nb-card appWindow widthSize="sm">
	<nb-card-header class="d-flex align-items-center justify-content-between">
		<p class="fs-5 fw-bold">Resumen</p>
		@switch (appointment()?.estado) {
			@case ('Finalizada') {
				<div class="text-success">
					<nb-icon icon="checkmark-circle-outline"></nb-icon>
					<span> Cita finalizada </span>
				</div>
			}
			@case ('Cancelada') {
				<div class="text-danger">
					<nb-icon icon="close-circle-outline"></nb-icon>
					<span> Cita cancelada </span>
				</div>
			}
			@default {
				<div class="d-flex flex-column align-items-end">
					<small class="fw-bold">Importe</small>
					<span class="fw-light fs-5">S/. {{ appointment()?.costo | currency: ' ' }}</span>
				</div>
			}
		}
	</nb-card-header>
	<nb-card-body class="d-flex flex-column gap-3">
		<nb-user
			size="medium"
			[name]="
				appointment()?.ape_pat_paciente +
				' ' +
				appointment()?.ape_mat_paciente +
				' ' +
				appointment()?.nombre_paciente
			"
			title="Paciente"
		/>
		<div class="row">
			<div class="col-sm-6 border-bottom py-3">
				<div class="d-flex align-items-center gap-4">
					<nb-icon class="fs-3" icon="calendar-outline"></nb-icon>
					<div class="d-flex flex-column gap-1">
						<small class="fw-bold">Fecha</small>
						<span class="fw-light text-secondary fs-7">{{ appointment()?.fecha }}</span>
					</div>
				</div>
			</div>
			<div class="col-sm-6 border-bottom py-3">
				<div class="d-flex align-items-center gap-4">
					<nb-icon class="fs-3" icon="clock-outline"></nb-icon>
					<div class="d-flex flex-column gap-1">
						<small class="fw-bold">Hora</small>
						<span class="fw-light text-secondary fs-7">{{ appointment()?.hora }}</span>
					</div>
				</div>
			</div>
			<div class="col-sm-6 border-bottom py-3">
				<div class="d-flex align-items-center gap-4">
					<nb-icon class="fs-3" icon="pin-outline"></nb-icon>
					<div class="d-flex flex-column gap-1">
						<small class="fw-bold">Lugar</small>
						<span class="fw-light text-secondary fs-7">{{ appointment()?.edificio }}</span>
					</div>
				</div>
			</div>
			<div class="col-sm-6 border-bottom py-3">
				<div class="d-flex align-items-center gap-4">
					<nb-icon class="fs-3" icon="smiling-face-outline"></nb-icon>
					<div class="d-flex flex-column gap-1">
						<small class="fw-bold">Tipo de servicio</small>
						<span class="fw-light text-secondary fs-7">Especialidad</span>
					</div>
				</div>
			</div>
			<div class="col-sm-6 border-bottom py-3">
				<div class="d-flex align-items-center gap-4">
					<nb-icon class="fs-3" icon="person-outline"></nb-icon>
					<div class="d-flex flex-column gap-1">
						<small class="fw-bold">Odontólogo</small>
						<span class="fw-light text-secondary fs-7"
							>{{ appointment()?.ape_pat_medico }} {{ appointment()?.ape_mat_medico }}
							{{ appointment()?.nombre_medico }}</span
						>
					</div>
				</div>
			</div>
			<div class="col-sm-6 border-bottom py-3">
				<div class="d-flex align-items-center gap-4">
					<nb-icon class="fs-3" icon="file-text-outline"></nb-icon>
					<div class="d-flex flex-column gap-1">
						<small class="fw-bold">Especialidad</small>
						<span class="fw-light text-secondary fs-7">{{ appointment()?.especialidad }}</span>
					</div>
				</div>
			</div>
		</div>
	</nb-card-body>
	<nb-card-footer class="row g-2 border-none">
		@switch (appointment()?.estado) {
			@case ('Pendiente') {
				<div class="col-12">
					<button nbButton (click)="backToAppointments()" status="info" fullWidth>
						<nb-icon icon="sync-outline"></nb-icon>
						OK
					</button>
				</div>
				<!-- 				<div class="col-sm-6">
					<button nbButton (click)="close()" status="danger" fullWidth>
						<nb-icon icon="close-outline"></nb-icon>
						Cancelar cita
					</button>
				</div>
				<div class="col-sm-6">
					<button nbButton (click)="close()" status="primary" fullWidth>
						<nb-icon icon="credit-card-outline"></nb-icon>
						Pagar
					</button>
				</div -->>
			}
			@case ('Finalizada') {
				<div class="col">
					<button nbButton (click)="close()" status="success" (click)="viewDetail()" fullWidth>
						<nb-icon icon="eye-outline"></nb-icon>
						Ver detalle
					</button>
				</div>
			}
			@case ('Cancelada') {
				<div class="col">
					<div class="d-flex flex-column gap-3">
						<p class="fw-bold">Motivo</p>
						<span class="border rounded text-black-50 fs-7 py-2 px-3">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, eligendi.
							Voluptatibus aut deleniti hic rem laborum molestiae alias odit earum.
						</span>
						<button nbButton (click)="close()" status="danger">
							<nb-icon icon="close-outline"></nb-icon>
							Cerrar
						</button>
					</div>
				</div>
			}
			@default {
				<div class="col-12">
					<button nbButton (click)="backToAppointments()" status="info" fullWidth>
						<nb-icon icon="sync-outline"></nb-icon>
						OK
					</button>
				</div>
				<!-- <div class="col-sm-6">
					<button nbButton (click)="close()" fullWidth>
						<nb-icon icon="sync-outline"></nb-icon>
						Pagar después
					</button>
				</div> -->
				<!-- <div class="col-sm-6">
					<button nbButton (click)="close()" status="primary" fullWidth>
						<nb-icon icon="credit-card-outline"></nb-icon>
						Pagar
					</button>
				</div> -->
			}
		}
	</nb-card-footer>
</nb-card>
