<nb-card appWindow widthSize="lg">
	<nb-card-header class="d-flex align-items-center justify-content-between">
		<span class="fs-5">Diagnóstico</span>
		<button nbButton size="small" (click)="close()">
			<nb-icon icon="close-outline"></nb-icon>
		</button>
	</nb-card-header>
	<nb-card-body>
		<div class="table-responsive">
			<table class="table table-sm">
				<thead>
					<tr>
						<th>Descripción</th>
						<th>Práctica</th>
						<th>Pieza Dental</th>
						<th>Cara</th>
						<th>Img</th>
					</tr>
				</thead>
				<tbody>
					@for (item of odontogramConsultations(); track $index) {
						<tr class="align-middle">
							<td>
								<span>{{ item?.detalle }}</span> <br />
								<small class="text-secondary">Observación: {{ item?.observacion }}</small>
							</td>
							<td>{{ item?.tipo_tratamiento }}</td>
							<td>Pieza {{ item?.pieza_numero }}{{ item?.pieza_fila }}</td>
							<td>{{ item?.tipo_cara }}</td>
							<td>
								<button nbButton size="small">
									<nb-icon icon="eye-outline"></nb-icon>
								</button>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</nb-card-body>
</nb-card>
