<nb-card class="border-0">
	<nb-card-header class="border-0 px-2 px-md-4">
		<span class="fs-4"> Odontograma Dental </span>
	</nb-card-header>
	<nb-card-body class="px-2 px-md-4">
		<div class="wrapper">
			<app-odontogram-graph (selectedTooth)="addTreatment($event)" />
			<div class="table-responsive my-4">
				<table class="table table-sm table-bordered table-striped table-hover">
					<thead>
						<tr class="text-center">
							<th>Tratamiento</th>
							<th>Pieza</th>
							<th>Cara</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr class="text-center align-middle">
							<th>
								<img
									decoding="async"
									src="https://odontograma.net/images/tratamientos/icono-apiceptomias.png"
									width="25px"
									height="25px"
								/>
								Apiceptomía
							</th>
							<td>45b</td>
							<td>Vestibular</td>
							<td>
								<button nbButton><nb-icon icon="trash-outline"></nb-icon></button>
							</td>
						</tr>
						<tr class="text-center align-middle">
							<th>
								<img
									decoding="async"
									src="https://odontograma.net/images/tratamientos/icono-apiceptomias.png"
									width="25px"
									height="25px"
								/>
								Apiceptomía
							</th>
							<td>45b</td>
							<td>Vestibular</td>
							<td>
								<button nbButton><nb-icon icon="trash-outline"></nb-icon></button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<button nbButton status="primary" (click)="addTreatment()">Agregar Tratamiento</button>
		</div>
	</nb-card-body>
</nb-card>
