.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 17px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: background-color 0.4s;
	&:before {
		position: absolute;
		content: '';
		height: 13px;
		width: 13px;
		left: 2px;
		bottom: 2px;
		background-color: white;
		transition: transform 0.4s;
	}
}

input:checked {
	&.black + .slider {
		background-color: #000;
	}
	&.basic + .slider {
		background-color: var(--color-basic-500);
	}
	&.primary + .slider {
		background-color: var(--color-primary-500);
	}
	&.success + .slider {
		background-color: var(--color-success-500);
	}
	&.warning + .slider {
		background-color: var(--color-warning-500);
	}
	&.danger + .slider {
		background-color: var(--color-danger-500);
	}
	&.info + .slider {
		background-color: var(--color-info-500);
	}
	& + .slider:before {
		transform: translateX(13px);
	}
}

.slider.round {
	border-radius: 34px;
	&:before {
		border-radius: 50%;
	}
}
