:host {
	--custom-color: #4fd1c5;
}

::ng-deep {
	nb-tabset {
		.tabset {
			flex-wrap: wrap;
		}

		a.tab-link {
			&:focus,
			&:hover {
				color: var(--custom-color);
			}
		}

		.tab:hover .tab-link {
			color: var(--custom-color);

			&::before {
				background-color: var(--custom-color);
			}
		}

		.tab.active .tab-link {
			color: var(--custom-color);

			&::before {
				background-color: var(--custom-color);
			}
		}
	}
}
