<nb-card class="m-0 border-0">
	<nb-card-body class="p-2 p-md-0">
		<div class="row m-0">
			<div class="col-md-12 p-0">
				<nb-tabset>
					<nb-tab class="p-0" tabTitle="Odontograma">
						<app-odontogram />
					</nb-tab>
					<nb-tab class="p-0" tabTitle="Historial">
						<app-history />
					</nb-tab>
					<!-- <nb-tab class="p-0" tabTitle="Notas">
						<app-notes />
					</nb-tab> -->
					<nb-tab class="p-0" tabTitle="Diagnóstico y Tratamiento">
						<app-diagnosis-treatment />
					</nb-tab>
				</nb-tabset>
			</div>
		</div>
	</nb-card-body>
</nb-card>
