<nb-card appWindow widthSize="sm">
	<nb-card-header class="d-flex align-items-center justify-content-between">
		<span class="fs-5">Agregar Receta</span>
		<button nbButton size="small" (click)="close()">
			<nb-icon icon="close-outline"></nb-icon>
		</button>
	</nb-card-header>
	<nb-card-body>
		<form class="row g-3" [formGroup]="form">
			<div class="col-md-12">
				<label class="required fw-semibold mb-2">Medicamento</label>
				<input
					nbInput
					type="text"
					placeholder="Medicamento..."
					formControlName="medicine"
					fullWidth
				/>
			</div>
			<div class="col-md-12">
				<label class="required fw-semibold mb-2">Via de administración</label>
				<input
					nbInput
					type="text"
					placeholder="Via de administración..."
					formControlName="route"
					fullWidth
				/>
			</div>
			<div class="col-md-6">
				<label class="required fw-semibold mb-2">Dosis</label>
				<input nbInput type="text" placeholder="Dosis..." formControlName="dose" fullWidth />
			</div>
			<div class="col-md-6">
				<label class="required fw-semibold mb-2">Frecuencia</label>
				<input
					nbInput
					type="text"
					placeholder="Frecuencia..."
					formControlName="frequency"
					fullWidth
				/>
			</div>
			<div class="col-md-6">
				<label class="required fw-semibold mb-2">Tiempo</label>
				<input nbInput type="text" placeholder="Tiempo..." formControlName="time" fullWidth />
			</div>
			<div class="col-md-6">
				<label class="required fw-semibold mb-2">Cantidad</label>
				<input nbInput type="text" placeholder="Cantidad..." formControlName="quantity" fullWidth />
			</div>
			<div class="col-md-12">
				<label class="required fw-semibold mb-2">Indicaciones</label>
				<textarea
					nbInput
					placeholder="Descripción..."
					formControlName="indications"
					rows="3"
					fullWidth
				></textarea>
			</div>
		</form>
	</nb-card-body>
	<nb-card-footer>
		<button nbButton class="d-block ms-auto" status="primary" (click)="addRecipe()" fullWidth>
			Agregar
		</button>
	</nb-card-footer>
</nb-card>
