<nb-card class="border-0">
	<nb-card-header class="border-0">
		<span class="fs-4">Crear nueva cita</span>
	</nb-card-header>
	<nb-card-body>
		<div class="row">
			<div class="col-md-6 col-lg-6">
				<div class="d-flex flex-column gap-4">
					<p class="fs-6 fw-semibold">¿Cómo podemos apoyarte?</p>
					<div>
						<p class="fw-medium mb-2 text-black d-block required">Titular de la cuenta</p>
						<div class="d-flex gap-2">
							<input type="text" nbInput fullWidth placeholder="72487768" />
							<button nbButton>
								<nb-icon icon="sync-outline"></nb-icon>
							</button>
						</div>
						<small class="fw-medium">
							<nb-icon icon="done-all-outline" status="success" style="font-size: 0.9rem"></nb-icon>
							<span class="text-secondary"> Pantigoso Puraca José Miguel </span>
						</small>
					</div>
					<p class="fs-6 fw-semibold">Nuestros servicios</p>
					<div>
						<p class="fs-6 fw-medium">Citas dentales</p>
						<p class="fs-7 text-black-50">Consultas con el mejor staff altamente calificado</p>
					</div>
					<div class="row g-3">
						<div class="col-xl-6 col-xxl-4">
							<button nbButton fullWidth>______________</button>
						</div>
						<div class="col-xl-6 col-xxl-4">
							<button nbButton fullWidth>______________</button>
						</div>
						<div class="col-xl-6 col-xxl-4">
							<button nbButton fullWidth>______________</button>
						</div>
					</div>
					<div>
						<p class="fs-6 fw-medium">Servicios Odontológicos</p>
						<p class="fs-7 text-black-50">Contamos con equipos de última tecnología</p>
					</div>
					<div class="row g-3">
						<div class="col-xl-6 col-xxl-4">
							<button nbButton fullWidth>______________</button>
						</div>
						<div class="col-xl-6 col-xxl-4">
							<button nbButton fullWidth>______________</button>
						</div>
						<div class="col-xl-6 col-xxl-4">
							<button nbButton fullWidth>______________</button>
						</div>
					</div>
					<div>
						<p class="fs-6 fw-medium">Especialidades destacadas</p>
					</div>
					<div class="row g-3">
						<div class="col-xl-6 col-xxl-4">
							<button nbButton fullWidth>______________</button>
						</div>
						<div class="col-xl-6 col-xxl-4">
							<button nbButton fullWidth>______________</button>
						</div>
						<div class="col-xl-6 col-xxl-4">
							<button nbButton fullWidth>______________</button>
						</div>
						<div class="col-xl-6 col-xxl-4">
							<button nbButton fullWidth>______________</button>
						</div>
						<div class="col-xl-6 col-xxl-4">
							<button nbButton fullWidth>______________</button>
						</div>
					</div>
					<div class="d-flex flex-column gap-3">
						<p class="fs-6 fw-semibold">Escoge a tu especialista</p>
						<nb-list>
							@for (user of users(); track $index) {
							<nb-list-item class="align-items-center justify-content-between">
								<nb-user [name]="user.name" [title]="user.title"> </nb-user>
								<nb-checkbox status="success"></nb-checkbox>
							</nb-list-item>
							}
						</nb-list>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-6">
				<div class="d-flex flex-column gap-4">
					<p class="fs-6 fw-semibold">Selecciona la fecha de tu cita</p>
					<nb-calendar class="d-flex justify-content-center"></nb-calendar>
					<p class="fs-6 fw-semibold">Selecciona el horario de tu cita</p>
					<div class="row g-3">
						<div class="col-md-6">
							<p class="fs-7 fw-medium text-center mb-3">Por la mañana</p>
							<div class="row g-3">
								<div class="col-sm-6 col-md-12 col-lg-6 col-xxl-4">
									<button nbButton fullWidth>8:15 AM</button>
								</div>
								<div class="col-sm-6 col-md-12 col-lg-6 col-xxl-4">
									<button nbButton fullWidth>8:30 AM</button>
								</div>
								<div class="col-sm-6 col-md-12 col-lg-6 col-xxl-4">
									<button nbButton fullWidth>8:45 AM</button>
								</div>
								<div class="col-sm-6 col-md-12 col-lg-6 col-xxl-4">
									<button nbButton fullWidth>9:00 AM</button>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<p class="fs-7 fw-medium text-center mb-3">Por la tarde</p>
							<div class="row g-3">
								<div class="col-sm-6 col-md-12 col-lg-6 col-xxl-4">
									<button nbButton fullWidth>12:00 PM</button>
								</div>
								<div class="col-sm-6 col-md-12 col-lg-6 col-xxl-4">
									<button nbButton fullWidth>12:15 PM</button>
								</div>
								<div class="col-sm-6 col-md-12 col-lg-6 col-xxl-4">
									<button nbButton fullWidth>12:30 PM</button>
								</div>
								<div class="col-sm-6 col-md-12 col-lg-6 col-xxl-4">
									<button nbButton fullWidth>12:45 PM</button>
								</div>
							</div>
						</div>
					</div>
					<div class="d-flex gap-2">
						<button nbButton fullWidth>Cancelar</button>
						<button nbButton status="primary" (click)="saveAppointment()" fullWidth>Guardar</button>
					</div>
				</div>
			</div>
		</div>
	</nb-card-body>
</nb-card>
