.table > :not(caption) > * > * {
	padding: 0.5rem 0.5rem;
	border-bottom-width: 1px;
}

.table input:hover {
	transform: scale(1.2);
	transition: all 0.3s ease-in-out;
}

td {
	text-align: center;
	padding-left: 0px !important;
	padding-right: 0px !important;
	border-right: none !important;
	border-left: none !important;
}
