<nb-card class="border-0">
	<nb-card-header class="border-0">
		<span class="fs-4">Registro de citas</span>
	</nb-card-header>
	<nb-card-body class="px-2 px-md-4">
		<form class="row g-3 mb-4" [formGroup]="form">
			<div class="col-md-6 col-xxl-3">
				<label class="label fs-7 mb-1">Desde: </label>
				<div class="d-flex position-relative">
					<input
						nbInput
						#dateFromInput
						placeholder="Fecha inicio"
						formControlName="fecha_desde"
						[nbDatepicker]="dateFromPicker"
						fullWidth
					/>
					<button class="position-absolute end-0" nbButton ghost (click)="dateFromInput.click()">
						<nb-icon icon="calendar-outline"></nb-icon>
					</button>
					<nb-datepicker #dateFromPicker> </nb-datepicker>
				</div>
			</div>
			<div class="col-md-6 col-xxl-3">
				<label class="label fs-7 mb-1">Hasta: </label>
				<div class="d-flex position-relative">
					<input
						nbInput
						#dateToInput
						placeholder="Fecha fin"
						formControlName="fecha_hasta"
						[nbDatepicker]="dateToPicker"
						fullWidth
					/>
					<button class="position-absolute end-0" nbButton ghost (click)="dateToInput.click()">
						<nb-icon icon="calendar-outline"></nb-icon>
					</button>
					<nb-datepicker #dateToPicker> </nb-datepicker>
				</div>
			</div>
			<div class="col-md-6 col-xxl-3">
				<label class="label fs-7 mb-1">Médico: </label>
				<nb-select placeholder="Seleccione un médico" formControlName="medicoid" fullWidth>
					<nb-option value="">Todos</nb-option>
					@for (doctor of doctors(); track doctor.medicoid) {
						<nb-option [value]="doctor.medicoid">{{ doctor.nombre_completo }}</nb-option>
					}
				</nb-select>
			</div>
			<div class="col-md-6 col-xxl-3">
				<label class="label fs-7 mb-1">Paciente: </label>
				<nb-form-field>
					<nb-icon nbPrefix icon="search-outline"></nb-icon>
					<input
						nbInput
						type="search"
						placeholder="Buscar paciente por nombre o dni"
						formControlName="paciente"
						fullWidth
					/>
				</nb-form-field>
			</div>
			<div class="col-md-6 col-xxl-3">
				<label class="label fs-7 mb-1">Estado: </label>
				<nb-select placeholder="Seleccione un estado" formControlName="estadoid" fullWidth>
					<nb-option value="">Todos</nb-option>
					@for (status of statuses(); track status.estadoid) {
						<nb-option [value]="status.estadoid">{{ status.nombre }}</nb-option>
					}
				</nb-select>
			</div>
			<div class="col-md-6 col-xxl-3 mt-md-auto">
				<div class="d-flex gap-2">
					<button nbButton status="primary" (click)="getAppointments()" fullWidth>
						Filtrar
						<nb-icon icon="options-2-outline"></nb-icon>
					</button>
					<button nbButton status="success" [routerLink]="['calendar']">
						<nb-icon icon="calendar-outline"></nb-icon>
					</button>
				</div>
			</div>
		</form>
		<div class="table-responsive d-none d-lg-block">
			<table class="table table-borderless">
				<thead class="border-bottom border-top">
					<tr class="text-center">
						@for (heading of tableHeadings(); track $index) {
							<th>{{ heading | uppercase }}</th>
						}
					</tr>
				</thead>
				<tbody>
					@for (appointment of appointments(); track appointment.citaid) {
						<tr class="align-middle text-center">
							<td>{{ appointment.fecha }}</td>
							<td>{{ appointment.hora }}</td>
							<td>{{ appointment.paciente }}</td>
							<td>{{ appointment.medico }}</td>
							<td>{{ appointment.especialidad }}</td>
							<td>{{ appointment.edificio }}</td>
							<td class="position-relative">
								<nb-badge
									class="center-badge"
									[text]="appointment.estado"
									[status]="
										appointment.estado_abreviatura === 'PN'
											? 'basic'
											: appointment.estado_abreviatura === 'CC'
												? 'primary'
												: appointment.estado_abreviatura === 'DEL'
													? 'danger'
													: appointment.estado_abreviatura === 'FIN'
														? 'success'
														: ''
									"
									position="top left"
								></nb-badge>
							</td>
							<td>
								<div class="d-flex gap-2 justify-content-center">
									<button
										nbButton
										size="small"
										nbTooltip="Editar"
										[routerLink]="['/pages/appointments/edit', appointment.citaid]"
									>
										<nb-icon icon="edit-outline"></nb-icon>
									</button>
									<button
										nbButton
										size="small"
										status="info"
										nbTooltip="Cambiar estado"
										(click)="openStatusModal(appointment.citaid, appointment.estadoid)"
									>
										<nb-icon icon="options-outline"></nb-icon>
									</button>
								</div>
							</td>
						</tr>
					} @empty {
						<tr class="text-center align-middle">
							<td colspan="8">No hay citas.</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="table-responsive d-block d-lg-none">
			<table class="table table-sm table-bordered">
				<tbody>
					@for (appointment of appointments(); track appointment.citaid) {
						<tr>
							<th>Fecha:</th>
							<td>{{ appointment.fecha }}</td>
						</tr>
						<tr>
							<th>Hora:</th>
							<td>{{ appointment.hora }}</td>
						</tr>
						<tr>
							<th>Paciente:</th>
							<td>{{ appointment.paciente }}</td>
						</tr>
						<tr>
							<th>Médico:</th>
							<td>{{ appointment.medico }}</td>
						</tr>
						<tr>
							<th>Especialidad:</th>
							<td>{{ appointment.especialidad }}</td>
						</tr>
						<tr>
							<th>Edificio:</th>
							<td>{{ appointment.edificio }}</td>
						</tr>
						<tr>
							<th>Estado:</th>
							<td class="position-relative">
								<nb-badge
									class="ms-1"
									[text]="appointment.estado"
									[status]="
										appointment.estado_abreviatura === 'PN'
											? 'basic'
											: appointment.estado_abreviatura === 'CC'
												? 'primary'
												: appointment.estado_abreviatura === 'DEL'
													? 'danger'
													: appointment.estado_abreviatura === 'FIN'
														? 'success'
														: ''
									"
									position="center left"
								></nb-badge>
							</td>
						</tr>
						<tr class="align-middle last-row">
							<th>Acciones:</th>
							<td>
								<div class="d-flex gap-2">
									<button
										nbButton
										size="tiny"
										[routerLink]="['/pages/appointments/edit', appointment.citaid]"
									>
										Editar
										<nb-icon icon="edit-outline"></nb-icon>
									</button>
									<button
										nbButton
										size="tiny"
										status="info"
										(click)="openStatusModal(appointment.citaid, appointment.estadoid)"
									>
										Cambiar estado
										<nb-icon icon="options-outline"></nb-icon>
									</button>
								</div>
							</td>
						</tr>
					} @empty {
						<tr class="text-center align-middle">
							<td colspan="1">No hay citas.</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</nb-card-body>
</nb-card>
