<div class="table-responsive">
	<table class="table">
		<tbody>
			<tr class="filaup">
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/18C.png"
						id="18c"
						(click)="selected('18c')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/17C.png"
						id="17c"
						(click)="selected('17c')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/16C.png"
						id="16c"
						(click)="selected('16c')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/15C.png"
						id="15c"
						(click)="selected('15c')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/14C.png"
						id="14c"
						(click)="selected('14c')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/13C.png"
						id="13c"
						(click)="selected('13c')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/12C.png"
						id="12c"
						(click)="selected('12c')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/11C.png"
						id="11c"
						(click)="selected('11c')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/21C.png"
						id="21c"
						(click)="selected('21c')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/22C.png"
						id="22c"
						(click)="selected('22c')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/23C.png"
						id="23c"
						(click)="selected('23c')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/24C.png"
						id="24c"
						(click)="selected('24c')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/25C.png"
						id="25c"
						(click)="selected('25c')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/26C.png"
						id="26c"
						(click)="selected('26c')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/27C.png"
						id="27c"
						(click)="selected('27c')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/28C.png"
						id="28c"
						(click)="selected('28c')"
						alt="odontograma"
					/>
				</td>
			</tr>
			<tr class="filaup">
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/18B.png"
						id="18b"
						(click)="selected('18b')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/17B.png"
						id="17b"
						(click)="selected('17b')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/16B.png"
						id="16b"
						(click)="selected('16b')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/15B.png"
						id="15b"
						(click)="selected('15b')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/14B.png"
						id="14b"
						(click)="selected('14b')"
						alt="odontograma"
					/>
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/24B.png"
						id="24b"
						(click)="selected('24b')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/25B.png"
						id="25b"
						(click)="selected('25b')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/26B.png"
						id="26b"
						(click)="selected('26b')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/27B.png"
						id="27b"
						(click)="selected('27b')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/28B.png"
						id="28b"
						(click)="selected('28b')"
						alt="odontograma"
					/>
				</td>
			</tr>
			<tr class="arriba">
				<td style="background-color: rgb(255, 255, 255)">
					<input
						type="image"
						src="https://odontograma.net/images/dientes/18A.png"
						id="18a"
						(click)="selected('18a')"
						alt="odontograma"
					/>
				</td>
				<td style="background-color: rgb(255, 255, 255)">
					<input
						type="image"
						src="https://odontograma.net/images/dientes/17A.png"
						id="17a"
						(click)="selected('17a')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/16A.png"
						id="16a"
						(click)="selected('16a')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/15A.png"
						id="15a"
						(click)="selected('15a')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/14A.png"
						id="14a"
						(click)="selected('14a')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/13A.png"
						id="13a"
						(click)="selected('13a')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/12A.png"
						id="12a"
						(click)="selected('12a')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/11A.png"
						id="11a"
						(click)="selected('11a')"
						alt="odontograma"
					/>
				</td>
				<td style="background-color: rgb(255, 255, 255)">
					<input
						type="image"
						src="https://odontograma.net/images/dientes/21A.png"
						id="21a"
						(click)="selected('21a')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/22A.png"
						id="22a"
						(click)="selected('22a')"
						alt="odontograma"
					/>
				</td>
				<td style="background-color: rgb(255, 255, 255)">
					<input
						type="image"
						src="https://odontograma.net/images/dientes/23A.png"
						id="23a"
						(click)="selected('23a')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/24A.png"
						id="24a"
						(click)="selected('24a')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/25A.png"
						id="25a"
						(click)="selected('25a')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/26A.png"
						id="26a"
						(click)="selected('26a')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/27A.png"
						id="27a"
						(click)="selected('27a')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/28A.png"
						id="28a"
						(click)="selected('28a')"
						alt="odontograma"
					/>
				</td>
			</tr>
			<tr>
				<td>18</td>
				<td>17</td>
				<td>16</td>
				<td>15</td>
				<td>14</td>
				<td>13</td>
				<td>12</td>
				<td>11</td>
				<td>21</td>
				<td>22</td>
				<td>23</td>
				<td>24</td>
				<td>25</td>
				<td>26</td>
				<td>27</td>
				<td>28</td>
			</tr>
			<tr>
				<td>48</td>
				<td>47</td>
				<td>46</td>
				<td>45</td>
				<td>44</td>
				<td>43</td>
				<td>42</td>
				<td>41</td>
				<td>31</td>
				<td>32</td>
				<td>33</td>
				<td>34</td>
				<td>35</td>
				<td>36</td>
				<td>37</td>
				<td>38</td>
			</tr>
			<tr class="abajo">
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/48A.png"
						id="48a"
						(click)="selected('48a')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/47A.png"
						id="47a"
						(click)="selected('47a')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/46A.png"
						id="46a"
						(click)="selected('46a')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/45A.png"
						id="45a"
						(click)="selected('45a')"
						alt="odontograma"
					/>
				</td>
				<td style="background-color: rgb(255, 255, 255)">
					<input
						type="image"
						src="https://odontograma.net/images/dientes/44A.png"
						id="44a"
						(click)="selected('44a')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/43A.png"
						id="43a"
						(click)="selected('43a')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/42A.png"
						id="42a"
						(click)="selected('42a')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/41A.png"
						id="41a"
						(click)="selected('41a')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/31A.png"
						id="31a"
						(click)="selected('31a')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/32A.png"
						id="32a"
						(click)="selected('32a')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/33A.png"
						id="33a"
						(click)="selected('33a')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/34A.png"
						id="34a"
						(click)="selected('34a')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/35A.png"
						id="35a"
						(click)="selected('35a')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/36A.png"
						id="36a"
						(click)="selected('36a')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/37A.png"
						id="37a"
						(click)="selected('37a')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/38A.png"
						id="38a"
						(click)="selected('38a')"
						alt="odontograma"
					/>
				</td>
			</tr>
			<tr class="filadown">
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/48B.png"
						id="48b"
						(click)="selected('48b')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/47B.png"
						id="47b"
						(click)="selected('47b')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/46B.png"
						id="46b"
						(click)="selected('46b')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/45B.png"
						id="45b"
						(click)="selected('45b')"
						alt="odontograma"
					/>
				</td>
				<td style="background-color: rgb(255, 255, 255)">
					<input
						type="image"
						src="https://odontograma.net/images/dientes/44B.png"
						id="44b"
						(click)="selected('44b')"
						alt="odontograma"
					/>
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/34B.png"
						id="34b"
						(click)="selected('34b')"
						alt="odontograma"
					/>
				</td>
				<td style="background-color: rgb(255, 255, 255)">
					<input
						type="image"
						src="https://odontograma.net/images/dientes/35B.png"
						id="35b"
						(click)="selected('35b')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/36B.png"
						id="36b"
						(click)="selected('36b')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/37B.png"
						id="37b"
						(click)="selected('37b')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/38B.png"
						id="38b"
						(click)="selected('38b')"
						alt="odontograma"
					/>
				</td>
			</tr>
			<tr class="filadown">
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/48C.png"
						id="48c"
						(click)="selected('48c')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/47C.png"
						id="47c"
						(click)="selected('47c')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/46C.png"
						id="46c"
						(click)="selected('46c')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/45C.png"
						id="45c"
						(click)="selected('45c')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/44C.png"
						id="44c"
						(click)="selected('44c')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/43C.png"
						id="43c"
						(click)="selected('43c')"
						alt="odontograma"
					/>
				</td>
				<td style="background-color: rgb(255, 255, 255)">
					<input
						type="image"
						src="https://odontograma.net/images/dientes/42C.png"
						id="42c"
						(click)="selected('42c')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/41C.png"
						id="41c"
						(click)="selected('41c')"
						alt="odontograma"
					/>
				</td>
				<td style="background-color: rgb(255, 255, 255)">
					<input
						type="image"
						src="https://odontograma.net/images/dientes/31C.png"
						id="31c"
						(click)="selected('31c')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/32C.png"
						id="32c"
						(click)="selected('32c')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/33C.png"
						id="33c"
						(click)="selected('33c')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/34C.png"
						id="34c"
						(click)="selected('34c')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/35C.png"
						id="35c"
						(click)="selected('35c')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/36C.png"
						id="36c"
						(click)="selected('36c')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/37C.png"
						id="37c"
						(click)="selected('37c')"
						alt="odontograma"
					/>
				</td>
				<td>
					<input
						type="image"
						src="https://odontograma.net/images/dientes/38C.png"
						id="38c"
						(click)="selected('38c')"
						alt="odontograma"
					/>
				</td>
			</tr>
		</tbody>
	</table>
</div>
