<nb-card class="border-0">
	<nb-card-header class="border-0 d-flex justify-content-between align-items-end flex-wrap px-2 px-md-4">
		<div class="d-flex flex-column gap-2">
			<span class="fs-4">Calendario</span>
			<small class="fs-6 text-secondary fw-light">Consultas odontológicas</small>
		</div>
		<div class="d-flex align-items-center flex-wrap gap-3 gap-md-5" [formGroup]="form">
			<small-toggle label="Todos" status="black" [control]="allControl" (toggle)="toggleAll($event)" />
			<small-toggle
				label="Finalizadas"
				status="success"
				[control]="finishedControl"
				(toggle)="toggleFinished($event)"
			/>
			<small-toggle
				label="Canceladas"
				status="danger"
				[control]="cancelledControl"
				(toggle)="toggleCancelled($event)"
			/>
			<small-toggle label="Próximas" status="warning" [control]="nextControl" (toggle)="toggleNext($event)" />
		</div>
	</nb-card-header>
	<nb-card-body class="pb-0 px-2 px-md-4">
		<div class="d-flex flex-wrap justify-content-between align-items-center gap-2">
			<div>
				<h6>{{ today() | date : 'y' }}</h6>
			</div>
			<div class="">
				<h5>{{ today() | date : 'MMMM' | titlecase }}</h5>
			</div>
			<div class="">
				<div class="d-flex gap-2">
					<button nbButton mwlCalendarPreviousView status="primary" view="month" [(viewDate)]="today">
						<nb-icon icon="chevron-left-outline"></nb-icon>
					</button>
					<button nbButton mwlCalendarToday [(viewDate)]="today">Hoy</button>
					<button nbButton mwlCalendarNextView status="primary" view="month" [(viewDate)]="today">
						<nb-icon icon="chevron-right-outline"></nb-icon>
					</button>
				</div>
			</div>
		</div>
		<br />
		<div>
			<mwl-calendar-month-view
				[viewDate]="today()"
				[events]="filteredEvents()"
				(eventClicked)="showEvent($event.event.meta)"
				(dayClicked)="dayClicked($event.day.date)"
			>
			</mwl-calendar-month-view>
		</div>
	</nb-card-body>
</nb-card>
