<nb-card appWindow widthSize="tn">
	<nb-card-header class="d-flex align-items-center justify-content-between">
		<span class="fs-5"> Agregar Tratamiento | {{ selectedId }} </span>
		<button nbButton size="small"><nb-icon icon="close-outline"></nb-icon></button>
	</nb-card-header>
	<nb-card-body>
		<form class="row g-3">
			<div class="col-md-12">
				<label class="fw-semibold mb-2">Selecciona Pieza:</label>
				<nb-select placeholder="Selecciona Pieza" fullWidth>
					<nb-option>ssss</nb-option>
				</nb-select>
			</div>
			<div class="col-md-12">
				<label class="fw-semibold mb-2">Selecciona Tratamiento:</label>
				<nb-select placeholder="Selecciona Tratamiento" fullWidth>
					<nb-option>ssss</nb-option>
				</nb-select>
			</div>
			<div class="col-md-12">
				<label class="fw-semibold mb-2">Selecciona Cara:</label>
				<nb-select placeholder="Selecciona Cara" fullWidth>
					<nb-option>ssss</nb-option>
				</nb-select>
			</div>
		</form>
	</nb-card-body>
	<nb-card-footer>
		<button nbButton class="d-block ms-auto" status="primary">
			<nb-icon icon="plus-outline"></nb-icon>
			Añadir
		</button>
	</nb-card-footer>
</nb-card>
