<app-detail-tab>
	<button nbButton size="small" class="button-black" (click)="toggleTeethType()">
		Ver de {{ teethType === 'adult' ? 'Niño' : 'Adulto' }}
	</button>
	<div class="mt-4 mb-5" #odontogramContainer></div>
	<div class="table-responsive d-none d-xxl-table w-100">
		<table class="table">
			<thead>
				<tr>
					<th style="width: 300px; min-width: 300px">Diagnóstico</th>
					<th>Práctica</th>
					<th class="text-center" style="width: 120px; min-width: 120px">Pieza Dental</th>
					<th class="text-center">Cara</th>
				</tr>
			</thead>
			<tbody>
				@for (item of data(); track $index) {
				<tr class="align-middle">
					<td>
						<p>{{ item?.diagnostico }}</p>
						<small class="text-black-50">Descripción: {{ item?.descripcion }}</small>
					</td>
					<td>{{ item?.practica }}</td>
					<td class="text-center">{{ item?.pieza }}</td>
					<td class="text-center">{{ item?.cara }}</td>
				</tr>
				}
			</tbody>
		</table>
	</div>
	<div class="table-responsive d-block d-xxl-none">
		<table class="table table-sm table-bordered">
			<tbody>
				@for (item of data(); track $index) {
				<tr>
					<th>Diagnóstico:</th>
					<td>{{ item?.diagnostico }}</td>
				</tr>
				<tr>
					<th>Descripción:</th>
					<td>{{ item?.descripcion }}</td>
				</tr>
				<tr>
					<th>Práctica:</th>
					<td>{{ item?.practica }}</td>
				</tr>
				<tr>
					<th>Pieza Dental:</th>
					<td>{{ item?.pieza }}</td>
				</tr>
				<tr class="last-row">
					<th>Cara:</th>
					<td>{{ item?.cara }}</td>
				</tr>
				}
			</tbody>
		</table>
	</div>
</app-detail-tab>
