// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

@import 'themes';

@import '@nebular/theme/styles/globals';

@import 'bootstrap/scss/bootstrap-utilities';
@import 'bootstrap/scss/bootstrap-grid';
@import 'bootstrap/scss/bootstrap-reboot';
@import 'bootstrap/scss/tables';

@import 'angular-calendar/css/angular-calendar';

@include nb-install() {
	@include nb-theme-global();
}

// Custom
.pointer {
	cursor: pointer;
}

.required {
	&::after {
		content: ' *';
		color: red;
	}
}

.button-black {
	color: #fff !important;
	background-color: #000 !important;

	&:hover,
	&:focus,
	&:active {
		background-color: rgba(0, 0, 0, 0.7) !important;
	}

	&:disabled {
		background-color: rgba(0, 0, 0, 0.3) !important;
	}
}

.fs-7 {
	font-size: 0.9rem;
}

.border-none {
	border: none;
}

.last-row {
	border-bottom: 3px solid #ccc !important;
}

.center-badge {
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%) !important;
}

// Overrides
p {
	margin-bottom: 0;
}

.text-success {
	color: nb-theme(color-success-500) !important;
}

.text-danger {
	color: nb-theme(color-danger-500) !important;
}

table {
	margin-bottom: 0 !important;
}

hr {
	margin-block: 0.5rem;
}

@media screen and (max-width: 992px) {
	nb-card-body {
		padding: 1rem !important;
	}

	hr {
		margin: 0.5rem 0 !important;
	}
}

// Breadcrumb
.xng-breadcrumb-root {
	padding-bottom: 1rem;
}

.xng-breadcrumb-item,
.xng-breadcrumb-separator {
	color: #b8c2d0;
	font-weight: 600;
}

.xng-breadcrumb-link {
	&:hover {
		color: #616976;
		text-decoration: none !important;
	}
}

.xng-breadcrumb-trail {
	color: #616976;
}

// Calendar
.cal-month-view {
	.cal-day-cell.cal-in-month.cal-has-events {
		cursor: auto;
	}

	.cal-header {
		.cal-cell {
			text-transform: capitalize;
		}
	}
	.cal-event {
		width: 30px;
		height: 20px;
		border-radius: 20px;
		position: relative;
		cursor: pointer;

		&::before,
		&::after {
			content: '';
			position: absolute;
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%;
		}

		&::before {
			border: 1px solid #fff;
			border-radius: 50%;
			height: 8px;
			width: 12px;
		}

		&::after {
			background-color: #fff;
			border-radius: 50%;
			height: 4px;
			width: 5px;
		}
	}

	.cal-day-cell {
		min-height: 85px;
	}

	.cal-cell-top {
		min-height: 36px;
	}

	.cal-day-badge {
		display: none;
	}
}
