/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

@import 'themes';

@import '@nebular/theme/styles/globals';

@import 'bootstrap/scss/bootstrap-utilities';
@import 'bootstrap/scss/bootstrap-grid';
@import 'bootstrap/scss/bootstrap-reboot';
@import 'bootstrap/scss/tables';

@include nb-install() {
	@include nb-theme-global();
}

// Custom
.black-button {
	color: #fff !important;
	background-color: #000 !important;

	&:hover,
	&:focus,
	&:active {
		background-color: rgba(0, 0, 0, 0.7) !important;
	}

	&:disabled {
		background-color: rgba(0, 0, 0, 0.3) !important;
	}
}

.fs-7 {
	font-size: 0.9rem;
}

// Overrides
p {
	margin-bottom: 0;
}

// Helpers
.pointer {
	cursor: pointer;
}

.required {
	&::after {
		content: ' *';
		color: red;
	}
}

// Breadcrumb
.xng-breadcrumb-root {
	padding-bottom: 1rem;
}

.xng-breadcrumb-item,
.xng-breadcrumb-separator {
	color: #b8c2d0;
	font-weight: 600;
}

.xng-breadcrumb-link {
	&:hover {
		color: #616976;
		text-decoration: none !important;
	}
}

.xng-breadcrumb-trail {
	color: #616976;
}
