<nb-card class="border-0">
	<nb-card-header class="border-0 px-2 px-md-4">
		<span class="fs-4">Consultas médicas</span>
	</nb-card-header>
	<nb-card-body class="px-2 px-md-4">
		<form class="row g-3 mb-4" [formGroup]="form">
			<div class="col-md-6 col-xxl-2">
				<label class="label fs-7 mb-1">Desde: </label>
				<div class="d-flex position-relative">
					<input
						nbInput
						#dateFromInput
						placeholder="Fecha inicio"
						formControlName="fecha_desde"
						[nbDatepicker]="dateFromPicker"
						fullWidth
					/>
					<button class="position-absolute end-0" nbButton ghost (click)="dateFromInput.click()">
						<nb-icon icon="calendar-outline"></nb-icon>
					</button>
					<nb-datepicker #dateFromPicker> </nb-datepicker>
				</div>
			</div>
			<div class="col-md-6 col-xxl-2">
				<label class="label fs-7 mb-1">Hasta: </label>
				<div class="d-flex position-relative">
					<input
						nbInput
						#dateToInput
						placeholder="Fecha fin"
						formControlName="fecha_hasta"
						[nbDatepicker]="dateToPicker"
						fullWidth
					/>
					<button class="position-absolute end-0" nbButton ghost (click)="dateToInput.click()">
						<nb-icon icon="calendar-outline"></nb-icon>
					</button>
					<nb-datepicker #dateToPicker> </nb-datepicker>
				</div>
			</div>
			<!-- <div class="col-md-6 col-lg-4 col-xxl-3">
				<label class="label fs-7 mb-1">Especialidad: </label>
				<nb-select placeholder="Seleccione una opción" fullWidth>
					<nb-option>sssss</nb-option>
				</nb-select>
			</div>
			<div class="col-md-6 col-lg-4 col-xxl-3">
				<label class="label fs-7 mb-1">Médico: </label>
				<nb-select placeholder="Seleccione una opción" fullWidth>
					<nb-option>sssss</nb-option>
				</nb-select>
			</div> -->
			<div class="col-md-6 col-lg-5 col-xxl-3">
				<label class="label fs-7 mb-1">Paciente: </label>
				<nb-form-field>
					<nb-icon nbPrefix icon="search-outline"></nb-icon>
					<input
						nbInput
						type="search"
						placeholder="Buscar paciente por nombre o dni"
						formControlName="paciente"
						fullWidth
					/>
				</nb-form-field>
			</div>
			<div class="col-md-6 col-lg-4 col-xxl-3">
				<label class="label fs-7 mb-1">Estado: </label>
				<nb-select placeholder="Seleccione un estado" formControlName="estadoid" fullWidth>
					<nb-option value="">Todos</nb-option>
					@for (status of statuses(); track status.estadoid) {
						<nb-option [value]="status.estadoid">{{ status.nombre }}</nb-option>
					}
				</nb-select>
			</div>
			<div class="col-md-12 col-lg-3 col-xxl-2 mt-lg-auto">
				<button nbButton status="primary" (click)="getConsultations()" fullWidth>
					Filtrar
					<nb-icon icon="options-2-outline"></nb-icon>
				</button>
				<!-- <button nbButton class="d-none d-xxl-block" status="primary" fullWidth>
					<nb-icon icon="options-2-outline"></nb-icon>
				</button> -->
			</div>
		</form>
		<div class="table-responsive d-none d-lg-block d-xl-none d-xxl-block">
			<table class="table table-borderless">
				<thead class="border-bottom border-top">
					<tr class="text-center">
						@for (heading of tableHeadings(); track $index) {
							<th>{{ heading | uppercase }}</th>
						}
					</tr>
				</thead>
				<tbody>
					@for (item of consultations(); track item.consultaid) {
						<tr class="align-middle text-center">
							<td>{{ item.fecha }}</td>
							<td>{{ item.hora }}</td>
							<td>{{ item.paciente }}</td>
							<td>{{ item.medico }}</td>
							<td>{{ item.especialidad }}</td>
							<td>{{ item.edificio }}</td>
							<td class="position-relative">
								<nb-badge
									class="center-badge"
									[text]="item.estado"
									[status]="
										item.estado_abreviatura === 'PN'
											? 'basic'
											: item.estado_abreviatura === 'CC'
												? 'primary'
												: item.estado_abreviatura === 'DEL'
													? 'danger'
													: item.estado_abreviatura === 'FIN'
														? 'success'
														: ''
									"
									position="top left"
								></nb-badge>
							</td>
							<td>
								<button nbButton (click)="showEvent(item)" nbTooltip="Ver consulta" size="small">
									<nb-icon icon="eye-outline"></nb-icon>
								</button>
							</td>
						</tr>
					} @empty {
						<tr class="text-center align-middle">
							<td colspan="8">No hay consultas médicas.</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="table-responsive d-block d-lg-none d-xl-block d-xxl-none">
			<table class="table table-sm table-bordered">
				<tbody>
					@for (item of consultations(); track item.consultaid) {
						<tr>
							<th>Fecha:</th>
							<td>{{ item.fecha }}</td>
						</tr>
						<tr>
							<th>Hora:</th>
							<td>{{ item.hora }}</td>
						</tr>
						<tr>
							<th>Paciente:</th>
							<td>{{ item.paciente }}</td>
						</tr>
						<tr>
							<th>Doctor:</th>
							<td>{{ item.medico }}</td>
						</tr>
						<tr>
							<th>Especialidad:</th>
							<td>{{ item.especialidad }}</td>
						</tr>
						<tr>
							<th>Edificio:</th>
							<td>{{ item.edificio }}</td>
						</tr>
						<tr>
							<th>Estado:</th>
							<td class="position-relative">
								<nb-badge
									class="ms-1"
									[text]="item.estado"
									[status]="
										item.estado_abreviatura === 'PN'
											? 'basic'
											: item.estado_abreviatura === 'CC'
												? 'primary'
												: item.estado_abreviatura === 'DEL'
													? 'danger'
													: item.estado_abreviatura === 'FIN'
														? 'success'
														: ''
									"
									position="center left"
								></nb-badge>
							</td>
						</tr>
						<tr class="align-middle last-row">
							<th>Acciones:</th>
							<td>
								<button nbButton (click)="showEvent(item)" size="tiny">
									Ver consulta
									<nb-icon icon="eye-outline"></nb-icon>
								</button>
							</td>
						</tr>
					} @empty {
						<tr class="text-center align-middle">
							<td colspan="1">No hay consultas médicas.</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</nb-card-body>
</nb-card>
