.table > :not(caption) > * > * {
	padding: 0.5rem 0.5rem;
	border-bottom-width: 1px;
}

.table input:hover {
	transform: scale(1.05);
	transition: all 0.2s ease-in-out;
}

td {
	text-align: center;
	padding: 0 !important;
	border-right: none !important;
	border-left: none !important;
}
